.screen-loader {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 300px;
  right: 45%;
}

.element-loader {
  position: absolute;
  width: 100px;
  height: 100px;
  right: calc(50% - 100px / 2);
}

.loader-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 12px solid #fff;
  border-top-color: #6c63ff;
  border-radius: 50%;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
